.header {
    padding-top: 40px;
    /* padding-bottom: 60px; */
    padding-bottom: 120px;
    background: url("../image/promo-bg.png") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    display: flex;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(47, 50, 75, 0.85);
    z-index: 0;
}

.header__inner {
    position: relative;
    z-index: 5;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 120px;
}

.logo {
    line-height: 0;
}

.call {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.85px;
    justify-content: center;
    align-items: center;
}

.call__number {
    font-weight: 400;
    font-size: 23.85px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.call__image {
    display: none;
    /* width: 24px;
    height: 24px; */
}

.promo {
    padding-left: 110px;
    padding-right: 110px;
}

.call__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.promo__title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    color: rgba(255, 255, 255, 0.86);
    margin-bottom: 34px;
}

.promo__subtitle {
    margin-bottom: 88px;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

.button {
    background: #15A9CB;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.promo__button {
    display: inline-block; 
    padding: 12px 48px;
}

@media (max-width: 1024px) {
    .header {
        padding-top: 26px;
        padding-bottom: 70px;
    }
    .header__wrapper {
        margin-bottom: 70px;
    }
    
    .call__number {
        font-size: 21px;
        line-height: 25px;
    }

    .—Åall__link {
        font-size: 13px;
        line-height: 15px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .promo__title {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 27.57px;
    }

    .promo__subtitle {
        font-size: 18px;
        line-height: 25px;
        /* white-space: pre-line; */
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .promo {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 480px) {
    .header {
        padding-top: 15px;
        padding-bottom: 65px;
    }
    .header__wrapper {
        margin-bottom: 65px;
    }

    .call__text {
        display: none;
    }

    .call__image {
        /* display: none; */
        display: inline;
        width: 24px;
        height: 24px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .promo {
        padding: 0;
    }

    .promo__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 23px;
    }

    .promo__subtitle {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 54px;
    }

    .hide {
        display: none;
    }

    .promo__button {
        font-size: 16px;
        line-height: 19px;
        padding: 9px 28px;
    }
}